.header {
  background-color: #8b00b8;
}

.main-nav {
  margin-left: 500px;
  margin-right: 550px;
  display: flex;
}

.push {
  margin-left: auto;
}

.home {
  font-size: 20pt;
  margin-left: 5px;
  color: #ffffff;
  text-decoration: none;
}

.login {
  display: inline-block;
  text-align: center;
  height: 600px;
  width: 800px;
  margin: 1rem;
  padding: 2rem;
  border-radius: 15px;
  background: #c0c0c0;
  box-shadow: 5px 5px 0px 0px #8B0000;
  margin-top: 50px;
  margin-left: -175px;
}

.footer {
  text-align: center;
  display: flex;
  margin-left: 950px;
  margin-top: 165px;
}

.font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}